* {
    margin: 0rem;
    padding: 0rem;
    

  }
  
  html {
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
  .content {
    
    display: flex;
    flex-direction: column;
  }
  
  .content > header {
        font-size: 1.5rem;
        font-weight: bolder;
        max-width: initial;
	      border: 25px #00bfff ;
	      padding: 0px;
        background-color: #00bfff;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
  }
  
  .content > nav {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
  }
  
  .content > main {
    flex: 1;
  }
  
  .content > footer {
    max-width: initial;
    border: 25px solid #00bfff ;
    padding: 0 auto;
    background-color: #00bfff;
    font-weight: bold;

  }

  h1{
    text-decoration: underline;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem; 

  }

  h2 {
    
    margin: 1rem;

  }

  h3 {
    margin: 1rem;
  }

  ol li {
    margin-left: 2.5rem;
  }

  


  .picLeft {
    float: left;
    margin: 1rem;

  }
  
  a {
    color: black;
  }
  
 
   
    th, td, table {
      border-spacing: 1rem;
    }
    table{
      border: 1px solid; 
    }
  
    td {
      text-align:center;
    }
    tr:nth-child(even) {background-color: #afebff;}

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #00bfff ;
        border-radius: 4px;
    }

    fieldset {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #00bfff ;
        border-radius: 4px;
    } 
    button {
        color: #00bfff;
    }
    p {
    margin: 1rem;
    } 
  