@import "./footer";
@import "./cards";
@import "./examples";
@import "./info";
@import "./header";
@import "./config";
@import "./button";

body {
	color: var(--color-text);
	font-size: var(--font-base-body-px);
	line-height: 1.5;
	font-family: var(--font-family-base);
}

h1,
h2,
h3 {
	font-family: var(--font-family-heading);
}

img {
	max-width: 100%;
}

main {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	gap: var(--vertical-space);
	margin: var(--vertical-space) auto;
	width: calc(100% - (2 * var(--offset)));
	max-width: var(--max-width);
}
